<% layout('boilerplate') -%>
    <script type="text/javascript" src="/js/utility/chat.js"></script>
    <script type="text/javascript" src="/js/utility/ui.js"></script>


    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Booker</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li class="active"><a href="/books">Books</a></li>
                <li><a href="/authors">Authors</a></li>
            </ul>
        </div>
    </nav>

    <div ng-controller="bookController" ng-init="bookId = '<%-query%>';currentUser='<%-currentUser%>'">
        <h1>{{book.title}}</h1>
        <button type="submit" class="btn btn-success" ng-click="addToLibrary()">Add to Personal Library</button>
        <img src="" />
        <button class="btn btn-success" id="chatStart" onclick="showChat()" name="button">Start Chatting</button>
        <h3>Author : <a href="/author/{{book.author._id}}">{{book.author.fName}}{{book.author.lName}}</a></h3>
        <h3>Date : {{book.date}}</h3>
        <h3>Genre : {{book.genre}}</h3>
        <h1>rating:{{rating}}</h1>
        <form ng-submit="rate()">
            <input ng-model="ratingModel">
            </input>
            <button type="submit" class="btn btn-success">
            rate!
            </button>
        </form>
        <div ng-repeat="comment in comments" class="thumbnail">
            <h2>{{comment.commenter.fName}} {{comment.commenter.lName}}</h2>
            <h6>{{comment.date}}</h6>
            <h2>{{comment.text}}</h2>
        </div>
        <h2>add comment</h2>

        <form ng-submit="comment()">
            <textarea id='text' ng-model="commentModel">
          </textarea >
          <button type="submit" class="btn btn-success">
              Submit!
              </button>
        </form>





</div><div class="chatRoom">
  <h1>ChatRoom</h1>
  <div id="connectedUsers"></div>
  <div>
    <div id="notice"></div>
    <div id="messages"></div>
  </div>
  <input id="message" type="text" maxlength="14" name="name" value="" placeholder="message">
  <button type="button" name="button" id="send">Send Message</button>
  <button type="button" name="button" id="stop" onclick="hideChat()">stop</button>

  <script type="text/javascript">
    initChat('<%-query%>','<%-userFName%>','<%-userLName%>');
  </script>
</div>
