<% layout('boilerplate') -%>



	<div class="body" ng-controller="bookController" ng-init="bookId = '<%-query%>';currentUser='<%-currentUser%>';userType='<%-userType%>'">


		<!-- Main content -->
		<div class="page-wrap container shop-form-wrap chatExternalContent">
			<!-- Shop Content -->
			<div role="main" class="main shop">
				<div class="row">
					<div class="col-md-9" style="padding-top:25px;">
						<div class="col-md-6">
							<div id="product-single-item" class="owl-carousel">
								<div class="item">
									<img alt="img" class="img-responsive img-rounded" ng-src="/../Images/{{book.imageUrl}}">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="summary entry-summary">
								<h2 class="shorter">{{book.title}}</h2>
								<div class="space20"></div>

								<a href="/author/{{book.author._id}}"><h4> {{book.author.fName}} {{book.author.lName}}</h4></a>
								<h5>{{book.date}}</h5>
								<div class="space20"></div>
								<h4> Rated : {{rating}}</h4>
							<div class="space20"></div>

								<p class="taller">{{book.description }}</p>
								<div style="margin-top:55px">
								<a  style="margin-left:5px;"ng-click="addToLibrary()" class="btn btn-primary btn-sm btn-blue cart-button">Add to library</a>
								<a style="margin-left:5px;" class="btn btn-primary btn-sm btn-blue cart-button" id="chatStart" onclick="showChat()">Start Chatting</a>
								<a  style="margin-left:5px;"ng-click="rate()" class="btn btn-primary btn-sm btn-blue cart-button">Rate</a>
							</div>


							</div>

						</div>
						<div class="col-md-12">
							<div class="r-posts" style="margin:0px;padding:0px 15px;">
								<div class="space40"></div>
								<hr class="tall" />
								<h3>Reviews</h3>
								<hr class="tall" />
								<div class="space40"></div>
							</div>
							<div class="tab-pane" id="productReviews">
								<ul class="comments">
									<li ng-repeat="comment in comments">

										<div class="comment">
											<div class="img-thumbnail">
												<img class="avatar" alt="img" src="/templateElements/demo/quote/1.jpg">
											</div>
											<div class="comment-block">
												<div class="comment-arrow"></div>
												<span class="comment-by">
														<strong>  {{comment.commenter.fName}} {{comment.commenter.lName}}</strong>
														<span class="pull-right">
														 {{comment.date}}
														</span>
														<hr class="tall" />

												</span>

												<p class="commentText">
													{{comment.text}}
												</p>
											</div>
										</div>
									</li>
								</ul>
								<div class="space20"></div>
								<hr class="tall" />
								<div class="space20"></div>
								<h4 class="review-head">Add a review</h4>
								<hr class="tall" />
								<div class="row">
									<div class="col-md-12">
										<form id="submitReview" ng-submit="comment()">

											<div class="space20"></div>
											<div class="row">
												<div class="form-group">
													<div class="col-md-12">
														<textarea ng-model="commentModel" maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="message" id="message"></textarea>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<input class="btn btn-primary btn-orange uppercase pull-right" type="submit">
												</div>
											</div>

										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<aside>
							<div class="side-widget">
								<h2>By the same author</h2>
								<ul class="simple-post-list">
									<li ng-repeat="book in sameAuthor | limitTo: 3">
										<div class="post-image">
											<div class="img-thumbnail">
												<a href="/book/{{book._id}}">
													<img alt="img" class="img-responsive" ng-src="/../Images/{{book.imageUrl}}">
												</a>
											</div>
										</div>
										<div class="post-info">
											<a href="/book/{{book._id}}">{{book.title}}</a>
											<div class="post-meta1">
												{{book.genre}}
											</div>
										</div>
									</li>


								</ul>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</div>

		<!-- Main content -->

		<!-- Footer -->
		<footer class="chatExternalContent">
			<div class="container">
				<div class="col-md-2 footer-widget">
					<h6>Quick Links</h6>
					<ul class="link-list">
						<li><a href="#">&rarr; Features</a></li>
						<li><a href="#">&rarr; Portfolio</a></li>
						<li><a href="#">&rarr; Our Blog</a></li>
						<li><a href="#">&rarr; About</a></li>
						<li><a href="#">&rarr; Contact</a></li>
					</ul>
				</div>
				<div class="col-md-2 footer-widget">
					<h6>Blogroll</h6>
					<ul class="link-list">
						<li><a href="#">&rarr; Forums</a></li>
						<li><a href="#">&rarr; Support/Help</a></li>
						<li><a href="#">&rarr; Privacy Policy</a></li>
						<li><a href="#">&rarr; Documentation</a></li>
						<li><a href="#">&rarr; Terms</a></li>
					</ul>
				</div>
				<div class="col-md-2 footer-widget">
					<h6>Contact</h6>
					<p>Design Headquarters<br>456 W57th Street<br>NYC, New York 06415</p>
				</div>
				<div class="col-md-6 footer-widget">
					<h6>Be Sociable</h6>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
					<ul class="social">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
					</ul>
				</div>
			</div>
		</footer>
		<div class="footer-copy chatExternalContent">
			<div class="container">
				<div class="col-md-12">
					<p>&copy; Copyright 2014 Chemistry. - Purchase today at <a href="http://bit.ly/OgJ2eL">ThemeForest</a></p>
				</div>
			</div>
		</div>
		<!-- Footer -->

		<div class="chatBottomBar">
			<input class="form-control" id="chatMessage" type="text" placeholder="message" />
			<a class="btn btn-primary btn-sm btn-orange uppercase cart-button" id="send">Send</a>
			<a class="btn btn-primary btn-sm btn-orange uppercase cart-button" id="stop" onclick="hideChat()">Leave</a>

		</div>
		<div class="chatRoom">

			<div class="section-title"></div>
			<div class="chatMessages">
				<div id="messages"></div>
				<div id="notice"></div>
			</div>

			<script type="text/javascript">
				initChat('<%-query%>', '<%-userFName%>', '<%-userLName%>');
			</script>
		</div>

	</div>
